<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
 <div class="container-fluid">
 <div class="text-center page-header container-fluid"
 style="font-family:Times; background-color: #eeeeff">
 <h1>Архітектура міста Львова</h1>
 </div>
 </div>
 <div class="container-fluid">
 <ul>
 {{#each types}}
 <li><a href="#">{{ this.typeName }}</li>
 {{/each}}
 </ul>
 </div>
</body>
</html> 
